@import './base/reset.css';
@import './components/font-awesome.min.css';
@import './components/button.css';

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.conteiner {
    width: 500px;
    background-color: yellow;
}
@media (min-width: 480px) {
    .conteiner {
        width: 360px;
    }
}

@media (min-width: 780px) {
    .conteiner {
        width: 660px;
    }
}

@media (min-width: 1000px) {
    .conteiner {
        width: 900px;
    }
}
@media (min-width: 1200px) {
    .conteiner {
        width: 1100px;
    }
}
